{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
        initial-scale=1.0"
    />
    <title>EVORA</title>
    <link rel="stylesheet" href="{% static "CSS/output.css" %}">
  </head>
  <body>
    <nav
      class="bg-white shadow-md px-4 md:px-24 py-4 flex items-center justify-between"
    >
      <div class="text-3xl md:text-5xl font-bold text-orange-500 ">Evora</div>

      <div class="flex items-center gap-x-3 md:gap-x-6 text-sm md:text-base">
        <a
          href="{% url 'home' %}"
          class="text-gray-600 hover:text-orange-600 font-medium"
          >HOME</a
        >
        <a
          href="{% url 'event_list' %}"
          class="text-gray-600 hover:text-orange-600 font-medium"
          >EVENTS</a
        >
        <a
          href="{% url 'dashboard' %}"
          class="text-gray-600 hover:text-orange-600 font-medium"
          >DASHBOARD</a
        >
        <a href="" class="text-gray-600 hover:text-orange-600 font-medium"
          >STORY</a
        >
      </div>
    </nav>
  </body>
</html>
